<style>
    /* body {
        background-color: #F0E9E9;
    } */

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
    }

    label {
        color: #A56037;
        margin-right: 15px;
    }

    .table-container {
        width: 100%;
        margin: 20px auto;
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;
        color: #A56037;
    }

    th, td {
        padding: 12px;
        text-align: center;
    }

    th {
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #E5CFC5;
        border-top: 1px solid #E5CFC5;
        font-family: var(--font-style-secondary);
    }

    td {
        height: 100px;
        background-color: #fff;
        border-radius: 3px;
        opacity: 0.9;
    }

    #orders, #details {
        padding: 8px 16px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        transition: opacity 0.3s ease;
        background-color: #D8A273;
        font-family: var(--font-style-secondary);
    }

    #details {
        padding: 12px 22px;
    }

    #orders:hover, #details:hover {
        opacity: 0.8;
    }

    .option {
        display: flex;
        justify-content: space-between;
    }

    form {
        display: flex;
    }


</style>

<div class="container">
    <div class="head">
        <h1 class="font-logo text-4xl text-[var(--color-red)] mb-6">My Orders</h1>
    </div>

    <div class="option">
        <div class="sort">
            <form>
                <div class="form-group">
                    <input type="checkbox" id="ring" name="ring" value="ring">
                    <label class="font-secondary">Ring</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="necklace" name="necklace" value="necklace">
                    <label class="font-secondary">Necklace</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="earring" name="earring" value="earring">
                    <label class="font-secondary">Earrings</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="bracelet" name="bracelet" value="bracelet">
                    <label class="font-secondary">Bracelet</label>
                </div>
            </form>
        </div>

        <a href="/emp/orders" id="orders" class="font-secondary">All Orders</a>


    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%data.forEach((item) => {%>
                    <tr>
                        <td class="font-secondary"><%=item.id%></td>
                        <td class="font-thai"><%=item.category%></td>
                        <td class="font-secondary"><%=item.updated_at%></td>
                        <td class="font-thai" style="color: #88C974;"><%=item.order_status%></td>
                        <td>
                            <a href="/emp/myorders_detail?id=<%=item.id%>" id="details">Details</a> 
                        </td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>
</div>