<style>
    /* body {
        background-color: #F0E9E9;
    } */

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
    }

    h1 {
        color: #580201;
    }

    label {
        color: #A56037;
        margin-right: 15px;
        font-family: var(--font-thai);
    }

    .table-container {
        width: 100%;
        margin: 20px auto;
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;
        color: #A56037;
    }

    th, td {
        padding: 12px;
        text-align: left;
    }

    th {
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #E5CFC5;
        border-top: 1px solid #E5CFC5;
        font-family: var(--font-secondary);
    }

    td {
        background-color: #fff;
        height: 100px;
        border-radius: 3px;
        opacity: 0.9;
        text-align: center;
    }

    #myorder, #details {
        padding: 8px 16px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        transition: opacity 0.3s ease;
        
    }

    #details {
        padding: 10px 20px;
        background-color: #D8A273;
        font-family: var(--font-thai);
    }

    #myorder {
        padding: 8px 16px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        transition: opacity 0.3s ease;
    }

    /* #accept {
        background-color: #67C14B;
    }

    #decline {
        background-color: #BF3F3F;
    } */

    #myorder {
        background-color: #D8A273;
    }

    /* #accept:hover, #decline:hover, #myorder:hover {
        opacity: 0.8;
    } */

    #myorder:hover, #details:hover {
        opacity: 0.8;
    }

    .option {
        display: flex;
        justify-content: space-between;
    }

    form {
        display: flex;
    }

    .back {
        color: #580201;
    }


</style>

<div class="container">
    <!-- <p>Hello Welcome to orders page</p> -->
    <div class="head">
        <h1 class="font-logo text-4xl text-[var(--color-red)] mb-6">New Orders</h1>
    </div>

    <div class="option">
        <div class="sort">
            <label><input type="checkbox" class="filter" value="สร้อยคอ"> สร้อยคอ</label>
            <label><input type="checkbox" class="filter" value="แหวน"> แหวน</label>
            <label><input type="checkbox" class="filter" value="สร้อยข้อมือ"> สร้อยข้อมือ</label>
            <label><input type="checkbox" class="filter" value="ต่างหู"> ต่างหู</label>
        </div>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Order No.</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <%data.forEach((item) => {%>
                    <tr data-category="<%= item.category %>">
                        <td class="font-secondary"><%=item.customer_id%></td>
                        <td class="font-thai"><%=item.category%></td>
                        <td class="font-secondary"><%=item.created_at%></td>
                        
                        <td>
                            <a href="/emp/detail_order?id=<%=item.id%>" id="details">รายละเอียด</a>
                        </td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>

</div>

<script>
    document.querySelectorAll('.filter').forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            updateFilterDisplay();
        });
    });
    
    function updateFilterDisplay() {
        const checkboxes = document.querySelectorAll('.filter');
        const rows = document.querySelectorAll('tbody tr[data-category]');
        console.log(rows)
        const selectedCategories = Array.from(checkboxes).filter(cb => cb.checked).map(cb => cb.value);
        console.log(selectedCategories)
        
        rows.forEach(row => {
            console.log(row)
            const category = row.getAttribute('data-category');
            console.log(category)
            if (selectedCategories.length === 0) {
                row.style.display = ''; 
            } else {
                row.style.display = selectedCategories.includes(category) ? '' : 'none';
            }
        });
    }
    
    
</script>