<style>
    /* body {
        background-color: #F0E9E9;
    } */

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
    }

    h1 {
        color: #580201;
    }

    /* .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */

    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin-top: 30px;
        font-family: var(--font-thai);
    }

    .card {
        background-color: #EDD1CC;
        padding: 30px;
        cursor: pointer;
        box-shadow: 5px 8px 10px gainsboro;
        border-radius: 2px;
        color: #A56037;
    }

    .card:hover {
        background-color: #D29F8E;
        padding: 30px;
        cursor: pointer;
        box-shadow: 5px 8px 10px gainsboro;
        border-radius: 2px;
        transition: background-color 0.3s ease, color 0.3s ease;
        color: #A56037;
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
        justify-content: center;
        align-items: center;
    }

    .modal-container {
        display: flex;
        width: 80%;
        height: 70%;
        gap: 20px;
        padding: 30px;
        border-radius: 10px;
        position: relative;
    }

    .modal-left {
        flex: 1;
        background-color: white;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        color: #D8A273;
        font-weight: 400;
    }

    .modal-right {
        flex: 1;
        background-color: white;
        padding: 50px;
        padding-top: 10px;
        color: #C7885C;
        /* text-align: center; */
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        font-size: 20px;
        background: none;
        border: none;
        color: white;
    }

    .back-btn {
        color: #A56037;
        margin-left: -10px;
    }

    .back-btn:hover {
        text-decoration: underline;
        margin-left: -10px;
    }

    .modal-left h2 {
        margin-top: 340px;
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 400;
        font-family: var(--font-secondary);
        color: #D8A273;
    }

    .modal-right h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 38px;
        font-weight: 400;
        font-family: var(--font-secondary);
    }

    button {
        display: inline-block;
        color: white;
        padding: 8px;
        font-family: var(--font-secondary);
        border-radius: 4px;
        margin-top: 10px;
    }

    .editpro:hover {
        background-color: #C78E61;
    }

    .delpro:hover {
        background-color: #BF3F3F;
    }

    h3 {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 400;
        color: #C85A5A;
        font-family: var(--font-secondary);
    }

    hr {
        color: #E5CFC5;
    }

    label {
        font-family: var(--font-secondary);
        margin-bottom: 18px;
        color: #A56037;
        opacity: 0.8;
    }

    input,
    textarea {
        margin-left: 5px;
        opacity: 0.8;
        font-family: var(--font-thai);
    }

    .form-group {
        margin-bottom: 14px;
    }
    
    .done {
        margin-left: 320px;
        background-color: #A56037;
        color: white;
        display: inline-block;
        padding: 8px;
        border-radius: 4px;
        width: 64px;
    }

    a:hover {
        color: #580201;
        text-decoration: underline;
    }

</style>

<div class="container">
    <%Object.keys(allData).forEach(category => {%>
        <div class="head">
            < <a href="/emp/category" style="color: #580201;">Go Back</a>
            <h1 class="font-logo text-4xl text-[var(--color-red)] mb-8 mt-4"><%= category %></h1>
            <hr width="100%" size="1">
        </div>
        <div class="card-container">
            <%if (category === "products") {%>
                <% allData[category].forEach(item => { %>
                    <div class="card" onclick="openModal(this)"
                    data-category="<%= category %>"
                    data-id="<%= item.id %>"
                    data-name="<%= item.name %>"
                    data-price="<%= item.base_price %>"
                    data-type="<%= item.category %>"
                    data-description="<%= item.description %>"
                    data-image_path="<%= item.image_path %>"
                    data-stock_quantity="<%= item.stock_quantity %>"
                    data-material="<%= item.material %>"
                    data-gemstone="<%= item.gemstone %>"
                    data-color="<%= item.color %>"
                    data-pendant="<%= item.pendant %>">
                        <img src="/<%= item.image_path%>" alt="<%= item.name %>">
                        <%= item.name %>
                    </div>
                <% }) %>
            <%}else{%>
                <% allData[category].forEach(item => { %>
                    <div class="card" onclick="openModal(this)"
                    data-category="<%= category %>"
                    data-id="<%= item.id %>"
                    data-name="<%= item.name %>"
                    data-price="<%= item.price %>"
                    data-description="<%= item.description %>">
                        <%= item.name %>
                    </div>
                <% }) %>
            <%}%>
        </div>
    <%});%>
</div>

<div class="modal" id="modal">
    <div class="modal-container" id="modal-container"> 
        <button class="close-btn" onclick="closeModal()">✖</button>
        <div class="modal-left" id="modal-left">
            <!-- แสดงข้อมูลฝั่งซ้าย -->
        </div>
    
        <div class="modal-right" id="modal-right">
            <!-- แสดงข้อมูลฝั่งขวา -->
        </div>
    </div>
</div>